<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

    <meta name="viewport" content="width=device-width, initail-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/logo.png" sizes="16x16">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/CssStyle/all.min.css">
    <link rel="stylesheet" href="/CssStyle/bootstrap.min.css">
    <link rel="stylesheet" href="/CssStyle/sheetcss.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container containerSight">
                <a class="navbar-brand conImg" href="/"><img class="logoImg" src="/images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" tabindex="-1" aria-disabled="true">Admin Page</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 call-me-form">
                        <input class="form-control mr-sm-2" type="tel" placeholder="Phone number">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Call Me</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container containerX sight-container">
            <h1 class="placeTile"><%= title %></h1>
            <hr>
            <img src="<%= imageURL %>" alt="<%= title %>">
            <hr>
            <div class="audioArticel offset-1 col-4">
                <button><i style="    font-size: 64px;" class="las la-play"></i>
                    <p> Play the article</p>
                </button>

            </div>
            <hr>
            <p class="date"><%= date %></p>
            <hr>
            <p class="text"><%= text %></p>


            <div class="container-weather">
                <div class="app-title">
                    <p>Weather in <%= title %> now</p>
                </div>
                <div class="notification"></div>
                <div class="weather-container">
                    <div class="weather-icon">
                        <img src="icons/unknown.png" alt="">
                    </div>
                    <div class="temperature-value">
                        <p>-°<span>C</span></p>
                    </div>
                    <div class="temperature-description">
                        <p>-</p>
                    </div>
                    <div class="location">
                        <p>--</p>
                    </div>
                </div>
            </div>


            <div class="map">
                <h3 style="white-space: nowrap;">Discover <%= title %> :</h3>
            </div>
        </div>
    </main>
    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p>&copy;2020 All Right Reseved</p>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#Mymodal">Contact us</button></div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="JS/bootstrap.min.js"></script>
    <script src="/js/maps.js"></script>
    <script src="../js/weather.js"></script>
    <script src="../js/speech.js"></script>
</body>

</html>